body{
    background-color: #efebe0;
    font-family: "EB Garamond", serif;
    overflow-x: hidden;
}
.border{
    width: 100%;
    min-height: 15px;
    background-color: #ac6239;
}
/* Center the navbar brand */
a {
  color: black;
}
.navbar-brand {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vh;
}

.navbar-left {
    display: flex;
    align-items: center;
}
  

.navbar-brand img {
    margin-left: 5px;
}



/* Navbar */
.navbar {
    background-color: transparent !important; /* Remove background color */
    font-size: 1.5vw;
    margin-bottom: 100px;
}


/* Shopping cart icon */
.navbar-nav {
    position: relative;
    /* Adjust padding to make space for the shopping cart icon on the right */
    padding-right: 00px;
}


.header img{
    width: 25vw;
}
.header-box {
    border: 1px solid #ccc; /* Add a border around the box */
    padding: 15px; /* Add some padding to the box */
}

.header-box h4 {
    margin-bottom: 0; /* Remove bottom margin from the h4 element to prevent extra spacing */
}

.products img{
    width: 10vw;
}

.widepic{
    height: 10vw;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
}

.container {
    margin-top: 50px; /* Adjust the top margin as needed */
  }
  
.img-fluid {
    margin-bottom: 2vw;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
    color: #333; /* Header color */
}

p {
color: #666; /* Paragraph color */
}

.About{
    font-size: 1.5vw;
}
.About .row{

    width: 50vw;
}
/* Custom CSS for mobile responsiveness */
.navbar-brand img {
    height: 50px; /* Adjust the height of the logo for mobile */
  }
  
  .navbar_moblie {
    background-color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0vw;
    margin-top: 0vw;
    height: 100vh;
    width: 70vw;
    z-index: 100;
    opacity: 0;
    transform: translatex(-100%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .animate {
    animation: fadeInDown 0.5s ease-out; /* Add the animation */
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .navbar_moblie ul {
    list-style: none;
    padding: 0;
    padding-top: 50px;
  }
  
  .navbar_moblie li {
    padding-bottom: 20px;
    text-align: justify;
    margin: 0 15px;
    opacity: 100%;
  }
  
  .navbar_moblie a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: color 0.3s;
    word-spacing: 10px;
    font-size: 5vw;
    opacity: 100%;
    font-weight: 300;
  }
  
  .navbar_moblie p {
    font-size: 3vw;
    padding: 5px;
  }
  
  .hamburger {
    font-size: 24px;
    display: none;
    cursor: pointer;
    margin-left: 20px;
    position: absolute; /* Position the hamburger icon */
    top: 10px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    z-index: 101; /* Ensure the hamburger is above the navbar */
  }
  
  /* Add a style for when the checkbox is checked */
  #sidebar-checkbox:checked + .navbar_moblie {
    opacity: 1; /* Make it visible */
    transform: translatex(0); /* Reset the transform to make it appear */
  }
  
  /* Style for the navigation bar when checkbox is unchecked */
  #sidebar-checkbox:not(:checked) + .navbar_moblie {
    opacity: 0; /* Initially set opacity to 0 */
    transform: translatex(-100%); /* Move the navbar up initially */
    transition: opacity 0.5s, transform 0.5s; /* Add transitions for opacity and transform */
  }
  footer{
    background-color: rgba(244, 175, 96, 0.482);
    
  }
.filters {
    display: flex;
}
.box {
    flex: 1;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
}
  @media screen and (max-width: 680px) {
    .hamburger {
      display: block;
    }
    .navbar {
      display: none;
    }
    .navbar-brand {
        display: block !important; /* Ensure the navbar brand is always visible */
        text-align: center; /* Center the navbar brand */

      }
    .navbar-brand img {
        display: block;
        height: 35vw; /* Adjust the height of the logo for mobile */
        margin-top: 30vh; /* Adjust the margin-top to move the logo down */

    }
    .navbar{
        margin-bottom: 30vh;
    }
    .widepic img{
        object-fit: cover;
        height: 50vw;
        
    }
    footer{
      margin-top: 30vw;
    }
    .img-fluid {
      margin-bottom: 10vw;
  }
  }
  